.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    padding: 5px !important
}

.video-item:hover {
    /* background-color: yellow; */
    box-shadow: 4px 4px 4px -4px gray;
  }


.video-item.item img {
    max-width: 180px;
    min-width: 180px;
}