.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    padding: 5px !important
}


.video-item.item img {
    max-width: 180px;
    min-width: 180px;
}